/* BASE COLOR PALETTE */
@darkBlue: #22282D;
@blueGray: #475159;
@lightBlueGray: #6C747A;
@lighterBlueGray: #899095;

@sideGray: #E6E6E6;
@UCFGold: #FFC904;
@UCFMetallicGold: #CC9900;
@offWhite: #F2F2F2;
@BGWhite: #FFFFFF;

body {
	background: none;
	font-size: 1.2em;
}
div#UCFHBHeader {display: none !important; }
#main_header {
	height: auto !important;
	margin-bottom: 10px; 

	h1 {
		width: 100%;
		font-size: 2em;
		text-align: center;
	}

	nav { display: none !important; }

	#socialMedia { display: none !important; }
}

#slider { display: none !important; }
#contactContainer { display: none !important; }
#contact { display: none !important; }
#main_links { display: none !important; }

#main_content {

	h1, h1>a, h2, h2>a, h3, h3>a { color: black; }
	p, li, a { color: @darkBlue !important; }
	.person_toolbar { display: none !important; }

	.news {
		article {
			p>a { display: none !important; }
		}
	}

	.events {
		>h1+a { display: none !important; }
		span.eventDate {
			border: 1px solid @darkBlue;
			li#eventMonth {
				border-bottom: 1px solid @darkBlue;
			}
			ul:after { display: none !important; }
		}
	}
	
	.officeHours { display: none !important; }


	#inner_searchform>div { display: none !important; }
	#sidebar { display: none !important; }
	#breadcrumbs {
		width: 100%; 
		h1>span {
			color: @blueGray;
			text-shadow: none !important;
		}
	}

	.innerContent {
		width: 90%;
		margin: 20px 5%;

		// a:link:after, a:visited:after {
		// 	content: " (" attr(href) ") ";
		// 	font-size: 70%;
		// 	color: @blueGray;
		// 	padding-right: 10px;
		// }

		#people_list {
			>article {
				border: 1px solid @blueGray;
				width: 25%;

				h2 {
					border: 1px solid @blueGray;
					&:after {
						display: none;
					}
				}
			}
		}
	}
}

#widgets { display: none !important; }
#the_footer {
	div.wrap { display: none !important; }
}